<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="df9b86">  <td>22/10/21 14:42:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HoraTest.VerifyHoraTabKalAajandHoraKyaBannerAnukulPratikul9()[pri:0, instance:Mahabhandar.HoraTest@117159c0]">VerifyHoraTabKalAajandHoraKyaBannerAnukulPratikul9</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="9be5ca">  <td>22/10/21 14:43:32</td>   <td>61398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeApp(org.testng.ITestResult)[pri:0, instance:Mahabhandar.HoraTest@117159c0]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="9be5ca">  <td>22/10/21 14:43:33</td>   <td>61869</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.configAC()[pri:0, instance:Mahabhandar.HoraTest@117159c0]">&lt;&lt;configAC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="9be5ca">  <td>22/10/21 14:43:34</td>   <td>62604</td> <td title="&lt;&lt;BaseTest.configAS()[pri:0, instance:Mahabhandar.HoraTest@117159c0]">&lt;&lt;configAS</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="9be5ca">  <td>22/10/21 14:42:08</td>   <td>-22916</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.configBC()[pri:0, instance:Mahabhandar.HoraTest@117159c0]">&gt;&gt;configBC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="9be5ca">  <td>22/10/21 14:42:07</td>   <td>-23612</td> <td title="&gt;&gt;BaseTest.configBS()[pri:0, instance:Mahabhandar.HoraTest@117159c0]">&gt;&gt;configBS</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="9be5ca">  <td>22/10/21 14:42:09</td>   <td>-21626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.launchApp(org.testng.ITestResult)[pri:0, instance:Mahabhandar.HoraTest@117159c0]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@809300666</td>   <td></td> </tr>
</table>
