<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>CommunityFeedTest.verifyCommunityFeedPage()[pri:0, instance:Social.CommunityFeedTest@17f9d882]<br/></td></tr>
<tr><td>smoke</td><td>CommunityFeedTest.verifyCommunityFeedPage()[pri:0, instance:Social.CommunityFeedTest@17f9d882]<br/></td></tr>
</table>
