<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4a79f">  <td>23/01/05 10:48:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeApp(org.testng.ITestResult)[pri:0, instance:Social.CommunityFeedTest@17f9d882]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@685558284</td>   <td></td> </tr>
<tr bgcolor="b4a79f">  <td>23/01/05 10:48:46</td>   <td>216</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.configAC()[pri:0, instance:Social.CommunityFeedTest@17f9d882]">&lt;&lt;configAC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@685558284</td>   <td></td> </tr>
<tr bgcolor="b4a79f">  <td>23/01/05 10:48:46</td>   <td>613</td> <td title="&lt;&lt;BaseTest.configAS()[pri:0, instance:Social.CommunityFeedTest@17f9d882]">&lt;&lt;configAS</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@685558284</td>   <td></td> </tr>
<tr bgcolor="b4a79f">  <td>23/01/05 10:44:04</td>   <td>-281006</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.configBC()[pri:0, instance:Social.CommunityFeedTest@17f9d882]">&gt;&gt;configBC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@685558284</td>   <td></td> </tr>
<tr bgcolor="b4a79f">  <td>23/01/05 10:44:04</td>   <td>-281628</td> <td title="&gt;&gt;BaseTest.configBS()[pri:0, instance:Social.CommunityFeedTest@17f9d882]">&gt;&gt;configBS</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@685558284</td>   <td></td> </tr>
<tr bgcolor="b4a79f">  <td>23/01/05 10:44:04</td>   <td>-280990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.launchApp(org.testng.ITestResult, java.lang.String)[pri:0, instance:Social.CommunityFeedTest@17f9d882]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@685558284</td>   <td></td> </tr>
<tr bgcolor="b59da4">  <td>23/01/05 10:46:30</td>   <td>-134910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CommunityFeedTest.verifyCommunityFeedPage()[pri:0, instance:Social.CommunityFeedTest@17f9d882]">verifyCommunityFeedPage</td> 
  <td>main@685558284</td>   <td></td> </tr>
</table>
